@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
<div class="mb-3">
        <form action="/my-handling-form-page" method="post">
            <ul>
                 <li>
                    <label for="rut" class"form-label">Rut Cliente:</label>
                    <input type="number" id="rut" class="form-control" name="user_rut">
                    </li>

                <li>
                <li>
                    <label for="name" class"form-label">Nombre:</label>
                    <input type="text" id="name" class="form-control" name="user_name">
                    </li>

                <li>
                    <label for="lastname" class"form-label">Apellido:</label>
                    <input type="text" id="lastname" class="form-control" name="user_lastname">
                    </li>
                <li>
                    <label for="address" class"form-label">Direccion:</label>
                    <input type="text" id="address" class="form-control" name="user_address">
                    </li>
                <li>
                <li>
                    <label for="mail" class"form-label">Email:</label>
                    <input type="email" id="mail" class="form-control" name="user_mail">
                    </li>
                <li>

                    <label for="date" class"form-label">Fecha Accidente:</label>
                    <input type="date" name="date_user" class="form-control">
                    </li>

                <li>
                    <label for="msg" class"form-label">Reporte:</label>
                <textarea class="form-control" name="msg" type="text" placeholder="Escriba algo"></textarea>
                    </li>

                <li class="button">
                <button type="submit">Envíe su mensaje</button>
                    </li>
            </ul>
        </form>
</div>