<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SafeCore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SafeCore.styles.css" asp-append-version="true" />
</head>
<body>
    @*<header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SafeCore</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>*@

    

    <div class="container-fluid px-0 h-100">
            <div class="row vh-100 collapse show no-gutters d-flex position-relative overflow-auto">
                <div class="col-1 p-0 vh-100 h-100 w-sidebar navbar-collapse collapse d-none d-md-flex sidebar">
                    <!-- fixed sidebar -->
                    <div class="position-fixed bg-dark text-white h-100 w-sidebar">
                        <div class="sidebar-title"> Menu </div>
                        <ul class="list-unstyled components" style=" height:60vh;">


                            @* HOW TO USE => @Html.ActionLink(Value, Action, Controller) *@


                            <li>
                                <a href="#">
                                    <i class="fa fa-home fa-lg"></i>Inicio
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <i class="fa fa-history fa-lg"></i>Historial
                                </a>
                            </li>

                            <li data-toggle="collapse" data-target="#evidencias" class="collapsed active">
                                <a href="#"><i class="fa fa-barcode fa-lg" aria-hidden="true"></i> Productos </a>
                            </li>
                            <ul class="sub-menu collapse" id="evidencias">
                                <li>Ingresar producto</li>
                                <li>Entregar producto</li>
                            </ul>

                            <li data-toggle="collapse" data-target="#movimientos" class="collapsed active">
                                <a href="#"><i class="fa fa-retweet fa-lg"></i> Gestinar bodega </a>
                            </li>
                            <ul class="sub-menu collapse" id="movimientos">
                                <li>Ingreso</li>
                                <li>Retiro</li>
                            </ul>

                            <li data-toggle="collapse" data-target="#dashboards" class="collapsed active">
                                <a href="#"><i class="fa fa-dashboard fa-lg"></i> Dashboard </a>
                            </li>
                            <ul class="sub-menu collapse" id="dashboards">
                                <li>Dashboard 1</li>
                                <li>Dashboard 2</li>
                            </ul>

                            <li>
                                <a href="#">
                                    <i class="fa fa-refresh fa-lg"></i> Sincronizar datos
                                </a>
                            </li>
                    </div>
                </div>

            <!-- START PAGE CONTENT -->
            <div class="container">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
                <footer>
                    <p>&copy; @DateTime.Now.Year - SafeCore.</p>
                </footer>
            </div>
            <!-- END PAGE CONTENT -->

            </div>
        </div>



    

    

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - SafeCore - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
