<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SafeCore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SafeCore.styles.css" asp-append-version="true" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
</head>
<body>
    @*<header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SafeCore</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>*@

    
    <!-- SIDE NVABAR -->
    <div class="wrapper">

        <nav id="sidebar" >

            <div class="sidebar-header">
                <h3>Safe Core</h3>
            </div>

            <div class="d-flex justify-content-between" id="sidebarContainer">

                <div id="topOptions">
                    <ul class="list-unstyled components overflow-auto">

                        <li>
                            <a href="#Administracion" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Administración</a>

                            <ul class="collapse list-unstyled" id="Administracion">
                                <li>
                                    <a asp-area="" asp-controller="Home" asp-action="Index">Crear capacitación</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Home" asp-action="Index">Planificar visita</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Home" asp-action="Index">Cálculo de accidentabilidad</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Home" asp-action="Index">Actividades</a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="#Asesoria" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Asesoría</a>

                            <ul class="collapse list-unstyled" id="Asesoria">
                                <li>
                                    <a asp-area="" asp-controller="Home" asp-action="Index">Solicitar asesoría especial</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Home" asp-action="Index">Ingresar asesoría</a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="#Personal" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Personal</a>

                            <ul class="collapse list-unstyled" id="Personal">
                                <li>
                                    <a asp-area="" asp-controller="Home" asp-action="Index">clientes</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Home" asp-action="Index">Pagos clientes</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Home" asp-action="Index">profesionales</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Home" asp-action="Index">Notificar atrasos</a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="#ActMejora" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Actividad de mejora</a>

                            <ul class="collapse list-unstyled" id="ActMejora">
                                <li>
                                    <a asp-area="" asp-controller="Home" asp-action="Index">Ingresar</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Home" asp-action="Index">Revisar</a>
                                </li>
                            </ul>
                        </li>

                        <li >
                            <a href="#Checklist" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Checklist</a>

                            <ul class="collapse list-unstyled" id="Checklist">
                                <li>
                                    <a asp-area="" asp-controller="Home" asp-action="Index">Crear</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Home" asp-action="Index">Responder</a>
                                </li>
                            </ul>
                        </li>

                        <li >
                            <a href="#Reportes" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Generar reportes</a>

                            <ul class="collapse list-unstyled" id="Reportes">
                                <li>
                                    <a asp-area="" asp-controller="Report" asp-action="ReportClient" >Reporte cliente</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Report" asp-action="ReportClient" >Reporte global</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Report" asp-action="Index" >Reportar accidente</a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>

                <div id="bottomOptions">
                    <ul class="list-unstyled components" style="margin-bottom: 0; padding: 0;">
                        <li class="">
                            <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li>
                            <a  onclick="location.href='@Url.Action("login","Login")'">Sign Out</a>
                        </li>
                    </ul>
                </div>

            </div>

        </nav>



        <!-- HERE START THE CONTENT -->

        <div id="content">

            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fas fa-align-left"></i>
                        <span>Toggle Sidebar</span>
                    </button>
                </div>
            </nav>

            <!-- START PAGE CONTENT -->
            <div id="mainContent" class="container">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
            <!-- END PAGE CONTENT -->
            

            <footer class="footer text-muted">
                <div class="container d-flex" id="footerContainer">
                    &copy; @DateTime.Now.Year - SafeCore - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
            </footer>

        </div>


    </div>




    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <!-- BOOTSTRAP 4.6 SCRIPTS FOR NAVBAR -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>

    @await RenderSectionAsync("Scripts", required: false)

    <script>

        /* NAVBAR TOGGLE METHOD*/
        $(document).ready(function () {
            $("#sidebarCollapse").on('click', function () {
                $("#sidebar").toggleClass('disabled');
            });
        });

    </script>

</body>
</html>
