<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SafeCore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SafeCore.styles.css" asp-append-version="true" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
</head>
<body>
    @*<header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SafeCore</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>*@


    <div class="container-fluid fixed-top barStatic py-2 top-bar">
        <div class="row show no-gutters d-flex h-100 position-relative align-items-center justify-content-between">
            @*<a class="ml-sm-5" data-toggle="collapse" data-target=".collapse" role="button" href="#">*@
            <button type="button" id="sidebarCollapse" class="btn btn-dark" style="font-size: 20px;">
                <i class="fa fa-bars"></i>
                @*<span>Menu</span>*@
            </button>
            @*</a>*@
            <div class="RFIDCORE-logo">
                <div class="col-12">
                    <!--toggler-->
                    <a data-toggle="collapse" href="#" data-target="" role="button" style="color:aqua;">
                        <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                             width="26.000000pt" height="26.000000pt" viewBox="0 0 800.000000 800.000000"
                             preserveAspectRatio="xMidYMid meet" id="RFID_logo">

                            <g transform="translate(0.000000,800.000000) scale(0.100000,-0.100000)"
                               stroke="none">
                                <path fill="#cccccc" d="M1275 7509 c-87 -80 -266 -282 -366 -414 -450 -595 -745 -1408 -809
                                        -2230 -16 -209 10 -615 61 -940 143 -908 529 -1732 1053 -2244 l95 -93 39 33
                                        c104 90 492 454 492 462 0 5 -28 39 -61 75 -317 345 -589 805 -747 1263 -129
                                        374 -192 743 -192 1124 0 579 96 1016 330 1501 161 336 379 660 608 905 l71
                                        75 -264 264 -263 263 -47 -44z" />
                                <path fill="#cccccc" d="M6418 7202 l-266 -246 60 -65 c442 -481 760 -1112 887 -1761 70 -352
                                        80 -833 25 -1194 -98 -654 -427 -1331 -889 -1832 l-83 -91 264 -264 265 -264
                                        128 132 c142 146 245 270 358 431 404 577 676 1364 732 2127 27 353 -41 947
                                        -161 1419 -151 595 -439 1179 -776 1576 -70 82 -219 236 -252 260 l-26 18
                                        -266 -246z" />
                                <path fill="#cccccc" d="M2051 6421 c-442 -520 -681 -1194 -681 -1921 0 -580 239 -1230 656
                                        -1786 30 -39 59 -76 66 -81 10 -8 85 55 288 242 151 139 275 257 275 263 0 5
                                        -35 50 -77 98 -113 129 -180 231 -259 389 -109 221 -179 466 -210 735 -16 146
                                        -7 443 20 590 67 382 235 728 479 988 l59 63 -256 262 c-140 144 -258 263
                                        -261 265 -4 1 -48 -47 -99 -107z" />
                                <path fill="#cccccc" d="M5610 6154 l-280 -257 80 -84 c188 -198 342 -493 420 -803 55 -218
                                        64 -294 64 -555 0 -262 -10 -346 -64 -551 -30 -112 -95 -286 -145 -384 -72
                                        -142 -204 -329 -308 -437 l-40 -42 28 -33 c15 -18 131 -139 258 -268 l230
                                        -234 44 49 c321 360 544 796 653 1275 79 343 100 758 55 1055 -23 148 -83 381
                                        -139 540 -65 179 -236 521 -346 689 -99 151 -207 296 -221 296 -5 0 -135 -115
                                        -289 -256z" />
                                <path fill="#cccccc" d="M3976 5619 c-427 -62 -767 -394 -842 -821 -21 -118 -14 -300 15 -410
                                        130 -496 603 -816 1103 -746 422 60 753 367 844 783 27 126 23 323 -10 450
                                        -129 495 -610 817 -1110 744z" />
                                <path fill="#cccccc" d="M1980 1090 l0 -620 185 0 185 0 0 235 0 236 71 -3 70 -3 87 -220 c48
                                        -121 91 -226 95 -232 6 -10 57 -13 198 -13 104 0 189 4 189 8 0 4 -32 80 -71
                                        167 -39 88 -91 204 -114 257 l-43 96 63 41 c64 42 107 87 141 151 29 54 27
                                        225 -5 303 -31 79 -87 146 -152 182 l-54 30 -422 3 -423 3 0 -621z m657 353
                                        c41 -19 79 -89 69 -127 -9 -35 -44 -75 -87 -97 -34 -17 -56 -19 -157 -17
                                        l-117 3 -3 128 -3 127 132 0 c102 0 139 -4 166 -17z" />
                                <path fill="#cccccc" d="M3270 1080 l0 -630 180 0 180 0 2 242 3 243 208 3 207 2 0 130 0 130
                                        -212 2 -213 3 0 110 0 110 278 3 277 2 0 140 0 140 -455 0 -455 0 0 -630z" />
                                <path fill="#cccccc" d="M4310 1080 l0 -630 180 0 180 0 0 630 0 630 -180 0 -180 0 0 -630z" />
                                <path fill="#cccccc" d="M4920 1089 l0 -620 303 3 c300 3 303 4 376 30 113 42 200 95 266 162
                                        113 116 145 207 145 416 0 229 -48 370 -164 485 -33 34 -86 73 -116 88 -109
                                        53 -148 57 -492 57 l-318 0 0 -621z m584 327 c86 -36 130 -145 130 -326 1
                                        -125 -12 -169 -69 -245 -48 -62 -80 -75 -189 -75 l-96 0 0 330 0 330 95 0 c59
                                        0 108 -5 129 -14z" />
                            </g>

                        </svg>
                    </a>
                    <a class="pl-2 font-weight-bold RFIDCORE">RFID CORE</a>
                </div>
            </div>
            <div style="width: 50px;">
                <!--Right Item-->
            </div>
        </div>
    </div>



    
    <!-- SIDE NVABAR -->
    <div class="wrapper">

        <nav id="sidebar" >

            <div class="sidebar-header">
                <h3>Safe Core</h3>
            </div>

            <div class="d-flex justify-content-between" id="sidebarContainer">

                <div id="topOptions">
                    <ul class="list-unstyled components overflow-auto">

                        <li>
                            <a href="#Administracion" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Administración</a>

                            <ul class="collapse list-unstyled" id="Administracion">
                                <li>
                                    <a asp-area="" asp-controller="Home" asp-action="Index">Crear capacitación</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Home" asp-action="Index">Planificar visita</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Home" asp-action="Index">Cálculo de accidentabilidad</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Home" asp-action="Index">Actividades</a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="#Asesoria" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Asesoría</a>

                            <ul class="collapse list-unstyled" id="Asesoria">
                                <li>
                                    <a asp-area="" asp-controller="Home" asp-action="Index">Solicitar asesoría especial</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Home" asp-action="Index">Ingresar asesoría</a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="#Personal" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Personal</a>

                            <ul class="collapse list-unstyled" id="Personal">
                                <li>
                                    <a asp-area="" asp-controller="Home" asp-action="Index">clientes</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Home" asp-action="Index">Pagos clientes</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Home" asp-action="Index">profesionales</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Home" asp-action="Index">Historial de atrasos</a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="#ActMejora" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Actividad de mejora</a>

                            <ul class="collapse list-unstyled" id="ActMejora">
                                <li>
                                    <a asp-area="" asp-controller="Home" asp-action="Index">Ingresar</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Home" asp-action="Index">Revisar</a>
                                </li>
                            </ul>
                        </li>

                        <li >
                            <a href="#Checklist" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Checklist</a>

                            <ul class="collapse list-unstyled" id="Checklist">
                                <li>
                                    <a asp-area="" asp-controller="Home" asp-action="Index">Crear</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Home" asp-action="Index">Responder</a>
                                </li>
                            </ul>
                        </li>

                        <li >
                            <a href="#Reportes" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Generar reportes</a>

                            <ul class="collapse list-unstyled" id="Reportes">
                                <li>
                                    <a asp-area="" asp-controller="Report" asp-action="ReportClient" >Reporte cliente</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Report" asp-action="ReportGlobal" >Reporte global</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Report" asp-action="ReportAccidente" >Reportar accidente</a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>

                <div id="bottomOptions">
                    <ul class="list-unstyled components" style="margin-bottom: 0; padding: 0;">
                        <li class="">
                            <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li>
                            <a asp-controller="Login" asp-action="login" onclick=confirm_meth()>Sign Out</a>  
                        </li>
                    </ul>
                </div>

            </div>

        </nav>



        <!-- HERE START THE CONTENT -->

        <div id="content">

            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid collapse-container">
                    <button type="button" id="sidebarCollapse" class="btn">
                        <i class="fas fa-align-justify"></i>
                        @*<span></span>*@
                    </button>
                </div>
            </nav>

            <!-- START PAGE CONTENT -->
            <div id="mainContent" class="container">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
            <!-- END PAGE CONTENT -->
            

            <footer class="footer text-muted">
                <div class="container d-flex" id="footerContainer">
                    &copy; @DateTime.Now.Year - SafeCore - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
            </footer>

        </div>


    </div>




    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <!-- BOOTSTRAP 4.6 SCRIPTS FOR NAVBAR -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>

    @await RenderSectionAsync("Scripts", required: false)

    <script>

        /* NAVBAR TOGGLE METHOD*/
        $(document).ready(function () {
            $("#sidebarCollapse").on('click', function () {
                $("#sidebar").toggleClass('disabled');
            });
        });
          /* FUNCION PARA CONFIRMAR*/
         function confirm_meth()
         {
             var confirmacion = confirm("Confirma cerrar sesión?");
             if( confirmacion==true)
             {  
             }
             else
             {
                 document.writeln ("<b>You had clic on 'NO' Button</b>");
             }
         } 
    </script>

</body>
</html>
